body{
    background-color: navajowhite;
}

.flex{

    flex-wrap: wrap;
}

h1{
    text-align: center;
    width: 100%;
    font-size: 120px;
}

.phrase-btn{
    margin: auto;
    width: 50%;
}

.phrase h2{
    font-size: 100px;
    position: absolute;
    top: 40vh;
    left: 35vw;
    max-width: 200px;
}

button{
    position: absolute;
    top: 90vh;
    left: 50vw;
}